[submodule "proto/etcd"]
	path = proto/etcd
	url = https://github.com/etcd-io/etcd
	branch = v3.5.10
[submodule "proto/gogoproto"]
	path = proto/gogoproto
	url = https://github.com/cosmos/gogoproto.git
	branch = v1.4.11
[submodule "proto/googleapis"]
	path = proto/googleapis
	url = https://github.com/googleapis/googleapis.git
